RewriteEngine On

RewriteRule ^blog/2007/09/trip-to-lisses-2007\.html$ /blog/2007/09/lisses-2007/ [L,R=301]
RewriteRule ^vimrc/?$ https://files.bennuttall.com/vimrc [L,R=301]
RewriteRule ^talks/(.+)$ /talks/ [L,R=301]
RewriteRule ^files/([^/]+)?$ https://files.bennuttall.com/$1 [L,R=301]
RewriteRule ^contact/?$ /about/ [L,R=301]
RewriteRule ^feed/?$ /blog/atom.xml [L,R=301]
RewriteRule ^blog/tags/gpio-zero/?$ /blog/tags/gpiozero/ [R=301,L]
RewriteRule ^tag/([^/]+)/?$ /blog/tags/$1/ [R=301,L]
RewriteRule ^([0-9]{4})/?$ /blog/$1 [R=301,L]

RewriteRule ^hostedpi/?$ /blog/2025/07/hostedpi/ [R=301,L]
RewriteRule ^pycon-uk-2023-talks/?$ /blog/2023/10/pycon-uk-2023-talks/ [R=301,L]
RewriteRule ^bbc-news-labs-2021/?$ /blog/2022/01/bbc-news-labs-2021/ [R=301,L]
RewriteRule ^client-horror-stories/?$ /blog/2021/09/client-horror-stories/ [R=301,L]
RewriteRule ^bbc-open-sourcing-mosromgr/?$ /blog/2021/04/bbc-open-sourcing-mosromgr/ [R=301,L]
RewriteRule ^the-surreal-experience-of-my-first-developer-job/?$ /blog/2021/04/the-surreal-experience-of-my-first-developer-job/ [R=301,L]
RewriteRule ^whats-new-in-gpio-zero-v1-6/?$ /blog/2021/04/whats-new-in-gpio-zero-v1-6/ [R=301,L]
RewriteRule ^one-year-in-bbc-news-labs/?$ /blog/2021/02/one-year-in-bbc-news-labs/ [R=301,L]
RewriteRule ^blogging-about-blogging/?$ /blog/2020/05/blogging-about-blogging/ [R=301,L]
RewriteRule ^magpi-interview/?$ /blog/2020/03/magpi-interview/ [R=301,L]
RewriteRule ^meme-overflow/?$ /blog/2020/03/meme-overflow/ [R=301,L]
RewriteRule ^goodbye-raspberry-pi-hello-bbc/?$ /blog/2020/01/goodbye-raspberry-pi-hello-bbc/ [R=301,L]
RewriteRule ^whats-new-in-gpio-zero-v1-5/?$ /blog/2019/02/whats-new-in-gpio-zero-v1-5/ [R=301,L]
RewriteRule ^europython-pycon-uk-and-a-john-pinner-award/?$ /blog/2018/10/europython-pycon-uk-and-a-john-pinner-award/ [R=301,L]
RewriteRule ^raspberry-pi-zero-gpio-expander/?$ /blog/2017/12/raspberry-pi-zero-gpio-expander/ [R=301,L]
RewriteRule ^raspberry-pi-talk-europython/?$ /blog/2017/10/raspberry-pi-talk-europython/ [R=301,L]
RewriteRule ^prototyping-raspberry-pi-robot-idea-two-emulators/?$ /blog/2017/08/prototyping-raspberry-pi-robot-idea-two-emulators/ [R=301,L]
RewriteRule ^piwheels-building-a-faster-python-package-repository-for-raspberry-pi-users/?$ /blog/2017/07/piwheels-building-a-faster-python-package-repository-for-raspberry-pi-users/ [R=301,L]
RewriteRule ^whats-new-gpio-zero-v1-4/?$ /blog/2017/07/whats-new-gpio-zero-v1-4/ [R=301,L]
RewriteRule ^google-onhub-the-best-router-ive-ever-owned/?$ /blog/2017/03/google-onhub-the-best-router-ive-ever-owned/ [R=301,L]
RewriteRule ^python-raspberry-pi-talk-fosdem/?$ /blog/2017/02/python-raspberry-pi-talk-fosdem/ [R=301,L]
RewriteRule ^christmas-coding-challenge-uno/?$ /blog/2017/01/christmas-coding-challenge-uno/ [R=301,L]
RewriteRule ^all-things-open-raspberry-pi-everyone/?$ /blog/2016/12/all-things-open-raspberry-pi-everyone/ [R=301,L]
RewriteRule ^pycon-russia-keynote-physical-computing-with-python-and-raspberry-pi/?$ /blog/2016/11/pycon-russia-keynote-physical-computing-with-python-and-raspberry-pi/ [R=301,L]
RewriteRule ^whats-new-gpio-zero-v1-3/?$ /blog/2016/09/whats-new-gpio-zero-v1-3/ [R=301,L]
RewriteRule ^simple-electronics-gpio-zero-book/?$ /blog/2016/08/simple-electronics-gpio-zero-book/ [R=301,L]
RewriteRule ^whats-new-gpio-zero-v1-2/?$ /blog/2016/04/whats-new-gpio-zero-v1-2/ [R=301,L]
RewriteRule ^fork-handles/?$ /blog/2016/03/fork-handles/ [R=301,L]
RewriteRule ^2015-open-source-yearbook/?$ /blog/2016/03/2015-open-source-yearbook/ [R=301,L]
RewriteRule ^raspberry-pi-weekly/?$ /blog/2016/02/raspberry-pi-weekly/ [R=301,L]
RewriteRule ^gpio-zero-developing-a-new-friendly-python-api-for-physical-computing/?$ /blog/2016/01/gpio-zero-developing-a-new-friendly-python-api-for-physical-computing/ [R=301,L]
RewriteRule ^the-story-of-pyjokes/?$ /blog/2015/09/the-story-of-pyjokes/ [R=301,L]
RewriteRule ^new-column-on-opensource-com/?$ /blog/2015/04/new-column-on-opensource-com/ [R=301,L]
RewriteRule ^raspberry-pi-2-launch/?$ /blog/2015/03/raspberry-pi-2-launch/ [R=301,L]
RewriteRule ^review-of-the-year-2014/?$ /blog/2015/01/review-of-the-year-2014/ [R=301,L]
RewriteRule ^all-the-python-conferences/?$ /blog/2014/11/all-the-python-conferences/ [R=301,L]
RewriteRule ^my-raspberry-pi-usa-tour/?$ /blog/2014/08/my-raspberry-pi-usa-tour/ [R=301,L]
RewriteRule ^linux-voice-interview/?$ /blog/2014/06/linux-voice-interview/ [R=301,L]
RewriteRule ^raspberry-pi-animation/?$ /blog/2014/01/raspberry-pi-animation/ [R=301,L]
RewriteRule ^2013-in-review/?$ /blog/2014/01/2013-in-review/ [R=301,L]
RewriteRule ^pi-weekly-evolution-dream-job/?$ /blog/2013/11/pi-weekly-evolution-dream-job/ [R=301,L]
RewriteRule ^fix-ubuntu/?$ /blog/2013/11/fix-ubuntu/ [R=301,L]
RewriteRule ^berlin-2013/?$ /blog/2013/09/berlin-2013/ [R=301,L]
RewriteRule ^graham-linehan-on-broken-copyright-law/?$ /blog/2013/07/graham-linehan-on-broken-copyright-law/ [R=301,L]
RewriteRule ^announcing-pi-weekly/?$ /blog/2013/06/announcing-pi-weekly/ [R=301,L]
RewriteRule ^stem-raspberry-jam-pilot/?$ /blog/2013/04/stem-raspberry-jam-pilot/ [R=301,L]
RewriteRule ^free-software-culture-talk-bracamp/?$ /blog/2013/04/free-software-culture-talk-bracamp/ [R=301,L]
RewriteRule ^raspberry-jamboree-2013/?$ /blog/2013/03/raspberry-jamboree-2013/ [R=301,L]
RewriteRule ^richard-iii/?$ /blog/2013/02/richard-iii/ [R=301,L]
RewriteRule ^comprehension-in-python/?$ /blog/2013/01/comprehension-in-python/ [R=301,L]
RewriteRule ^hack-manchester/?$ /blog/2012/11/hack-manchester/ [R=301,L]
RewriteRule ^phpnw12/?$ /blog/2012/10/phpnw12/ [R=301,L]
RewriteRule ^barcamp-blackpool-2012/?$ /blog/2012/10/barcamp-blackpool-2012/ [R=301,L]
RewriteRule ^hero-kayakers/?$ /blog/2012/10/hero-kayakers/ [R=301,L]
RewriteRule ^manchester-raspberry-jam-continued/?$ /blog/2012/09/manchester-raspberry-jam-continued/ [R=301,L]
RewriteRule ^backflip/?$ /blog/2012/09/backflip/ [R=301,L]
RewriteRule ^unity-doesnt-suck/?$ /blog/2012/08/unity-doesnt-suck/ [R=301,L]
RewriteRule ^preposition/?$ /blog/2012/07/preposition/ [R=301,L]
RewriteRule ^manchester-raspberry-jam/?$ /blog/2012/07/manchester-raspberry-jam/ [R=301,L]
RewriteRule ^md5-flag-generator/?$ /blog/2012/06/md5-flag-generator/ [R=301,L]
RewriteRule ^norwich-city-angry-at-fan/?$ /blog/2012/04/norwich-city-angry-at-fan/ [R=301,L]
RewriteRule ^whisky-web/?$ /blog/2012/04/whisky-web/ [R=301,L]
RewriteRule ^hack-to-the-future/?$ /blog/2012/04/hack-to-the-future/ [R=301,L]
RewriteRule ^ascii-bar-charts/?$ /blog/2012/04/ascii-bar-charts/ [R=301,L]
RewriteRule ^maths-busking-in-leeds-2012/?$ /blog/2012/03/maths-busking-in-leeds-2012/ [R=301,L]
RewriteRule ^inventing-on-principle/?$ /blog/2012/03/inventing-on-principle/ [R=301,L]
RewriteRule ^php54-released/?$ /blog/2012/03/php54-released/ [R=301,L]
RewriteRule ^mathworks-rubiks-cube/?$ /blog/2012/02/mathworks-rubiks-cube/ [R=301,L]
RewriteRule ^dont-copy-that-floppy/?$ /blog/2012/02/dont-copy-that-floppy/ [R=301,L]
RewriteRule ^xp-manchester-xl-feb12/?$ /blog/2012/02/xp-manchester-xl-feb12/ [R=301,L]
RewriteRule ^ternary-operator-shorthand-code/?$ /blog/2012/02/ternary-operator-shorthand-code/ [R=301,L]
RewriteRule ^ima-talk-maths-theres-an-app-for-that/?$ /blog/2011/12/ima-talk-maths-theres-an-app-for-that/ [R=301,L]
RewriteRule ^limerick-2011/?$ /blog/2011/07/limerick-2011/ [R=301,L]
RewriteRule ^midnight-ice-climb-helvellyn/?$ /blog/2010/01/midnight-ice-climb-helvellyn/ [R=301,L]
RewriteRule ^rage-against-the-x-factor/?$ /blog/2009/12/rage-against-the-x-factor/ [R=301,L]
RewriteRule ^parkour-thriller-zombies/?$ /blog/2009/11/parkour-thriller-zombies/ [R=301,L]
RewriteRule ^french-austrian-alps-2009/?$ /blog/2009/07/french-austrian-alps-2009/ [R=301,L]
RewriteRule ^matlab-and-java-assignments/?$ /blog/2009/04/matlab-and-java-assignments/ [R=301,L]
RewriteRule ^kayaking-in-january/?$ /blog/2009/02/kayaking-in-january/ [R=301,L]
RewriteRule ^parkour-the-nature-of-challenge/?$ /blog/2009/02/parkour-the-nature-of-challenge/ [R=301,L]
RewriteRule ^the-duke-of-edinburghs-gold-award/?$ /blog/2008/11/the-duke-of-edinburghs-gold-award/ [R=301,L]
RewriteRule ^london-baby/?$ /blog/2008/10/london-baby/ [R=301,L]
RewriteRule ^bcu-student-safety-seminar/?$ /blog/2008/10/bcu-student-safety-seminar/ [R=301,L]
RewriteRule ^a-fresh-start/?$ /blog/2008/10/a-fresh-start/ [R=301,L]
RewriteRule ^trace-gathering-2008/?$ /blog/2008/08/trace-gathering-2008/ [R=301,L]
RewriteRule ^pyrenees-2008/?$ /blog/2008/07/pyrenees-2008/ [R=301,L]
RewriteRule ^pi-day-2008/?$ /blog/2008/03/pi-day-2008/ [R=301,L]
RewriteRule ^bone-of-contention/?$ /blog/2008/02/bone-of-contention/ [R=301,L]
RewriteRule ^us-on-bbc-inside-out/?$ /blog/2008/01/us-on-bbc-inside-out/ [R=301,L]
RewriteRule ^spontaneous-cambridge-visit/?$ /blog/2007/10/spontaneous-cambridge-visit/ [R=301,L]
RewriteRule ^lisses-2007/?$ /blog/2007/09/lisses-2007/ [R=301,L]
RewriteRule ^secret-message-from-lisses/?$ /blog/2007/08/secret-message-from-lisses/ [R=301,L]
RewriteRule ^trace-gathering-2007/?$ /blog/2007/08/trace-gathering-2007/ [R=301,L]
RewriteRule ^presenting-at-shaff-2007/?$ /blog/2007/03/presenting-at-shaff-2007/ [R=301,L]
RewriteRule ^holiday-in-snowdonia/?$ /blog/2007/02/holiday-in-snowdonia/ [R=301,L]
RewriteRule ^millers-dale-viaduct/?$ /blog/2006/12/millers-dale-viaduct/ [R=301,L]
RewriteRule ^apex-challenge/?$ /blog/2006/10/apex-challenge/ [R=301,L]
RewriteRule ^weekend-in-manchester/?$ /blog/2006/09/weekend-in-manchester/ [R=301,L]
RewriteRule ^new-york-2006/?$ /blog/2006/08/new-york-2006/ [R=301,L]
RewriteRule ^northern-parkour-gathering-2006/?$ /blog/2006/07/northern-parkour-gathering-2006/ [R=301,L]
